.riddler {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.riddler p {
	margin-bottom: 0px;
}

.riddler p:last-child {
	margin-bottom: 1rem;
}

.riddler span {
	font-size: x-large;
	color: #7373e3;
}
